<!DOCTYPE html>
<html>
<head>
  <title>Database planner</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "database_planner/application", media: "all" %>
  <script src="https://cdn.tailwindcss.com"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<%= yield %>

</body>
</html>
